[submodule "ddd-golang-template"]
	path = ddd-golang-template
	url = https://github.com/maronfranc/ddd-golang-template
[submodule "ddd-rust-template"]
	path = ddd-rust-template
	url = https://github.com/maronfranc/ddd-rust-template
[submodule "ddd-node-template"]
	path = ddd-node-template
	url = https://github.com/maronfranc/ddd-node-template
[submodule "ddd-java-template"]
	path = ddd-java-template
	url = https://github.com/maronfranc/ddd-java-template
